*,::after,::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-contact-title {
    color: var(--text-color-focus);
}

.section-contact-descri {
    color: var(--text-color);
}


.contact-form {
    background-color: var(--background-color-second);
    border-radius: 5px;
}

.form-control {
    background-color: var(--background-color);
    border: none;
    color: #ffffff;
}  

#name, 
#email {
    height: 5vh;
}

.form-control:focus {
    background-color: var(--background-color);
    color: #ffffff;
}

.form-control::placeholder {
    color: #a0a0a0;
}

.form-group  label {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
}

label[for="message"],
label[for="email"] {
    margin-top: 10px;
}

#message {
    min-height: 20vh;
}

@media screen and (min-width: 1440px) {
    label[for="email"] {
        margin-top: 0;
    }
}