*,::after,::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-navbar {
    background-color: #111111;
    height: auto;
    margin-top: 1vh;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-logo-tom {
    height: 40px;
    width: 40px;
    background-color:  #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.tomefy-logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container-nom-logo {
    height: 40px;
    width: 80px;
    margin-left: 10px;
    background-color: #111111;
}

.tomefy-logo-name {
    width: 100%;
    height: 100%;
}

.btn-hamburger {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: auto;
    background-color: transparent;
    display: none;
}

.logoHamburger {
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: 4px;
}



@media screen and (max-width: 768px) {
    .btn-hamburger {
        display: flex;
    }

    .header-navbar {
        padding-right: 30px;
    }
}
