*,::after,::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section-profil {
    background-color: #111111;
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.container-pdp {
    height: 29.7vh;
    background-color: #222222;
    border-radius: 10px;
    background-image: url(../Assets/Photo_profil/photo-profil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-profil-name {
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: 600;
}

.section-profil-description {
    font-size: 1rem;
    font-weight: 500;
    color: #B4B4B4;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    width: 150px;
}

.logo {
    width: 20px;
}