*,::after,::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section-profil {
    background-color: var(--background-color);
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.container-pdp {
    height: 29.7vh;
    background-color: var(--container-pdp);
    border-radius: 10px;
    background-image: var(--photo-profil);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-profil-name {
    margin-top: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color-focus);
}

.section-profil-description {
    font-weight: 500;
    color: var(--text-color);
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    width: 150px;
}

.logo {
    width: 20px;
}

.logo-copy {
    color: #0e51c2;
    transition: all 0.2s ease;
}

.btn-copy:hover .logo-copy {
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .container-pdp {
        background-size: 40%;
    }
}

@media screen and (max-width: 768px) {
    .container-pdp {
        background-size: 50%;
    }
}

@media screen and (max-width: 425px) {
    .container-pdp {
        background-size: cover;
    }
}
