.container-section-service {
  background-color: var(--background-color);
  border-radius: 10px;
}

.container-logo-competence2 {
  background-color: var(--background-color-second);
  width: 90px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-service-title,
.setion-technologies-title {
  color: var(--text-color-focus);
}

.services-descri {
  color: var(--text-color);
}

.logo-competence2 {
  width: 70%;
  height: 70%;
}

.competence-name2 {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 8px;
  color: var(--text-color);
  width: 90px;
}

.container-services-offered {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  height: auto;
  min-height: 145px;
}

.container-service2 {
  background-color: var(--background-color-second);
  width: 22%;
  height: 21vh;
  border-radius: 10px;
  flex-shrink: 0;
  padding: 10px;
  min-height: 160px;
}

@media screen and (max-width: 1024px) {
  .container-service2 {
    height: 25vh;
    width: 140px;
  }
}

@media screen and (max-width: 320px) {
  .container-service2 {
    width: 115px;
    min-height: 0px;
    height: 20vh;
  }

  .logo-competence2 {
    width: 60%;
    height: 60%;
  }
}
